<h1 class="{{enabledSetting "urlDetection" "allUrls"}}{{enabledSetting "urlDetection" "ticketUrls"}}">Zendesk QuickTab</h1>
<p id="app-status">
</p>
<section id="settings-url-types">
  <h2>{{t "txt_popup_title_link_detection"}}</h2>
  <ul>
    <li>
      <a href="#" data-url-type="allUrls" class="{{enabledSetting "urlDetection" "allUrls"}}">{{t "txt_popup_options_link_detection_allLinks"}}</a>
    </li>
    <li>
      <a href="#" data-url-type="ticketUrls" class="{{enabledSetting "urlDetection" "ticketUrls"}}">{{t "txt_popup_options_link_detection_ticketLinks"}}</a>
    </li>
    <li>
      <a href="#" data-url-type="noUrls" class="{{enabledSetting "urlDetection" "noUrls"}}">{{t "txt_popup_options_link_detection_noLinks"}}</a>
    </li>
  <ul>
</section>
<section id="settings-help">
  <h2>{{t "txt_popup_title_help"}}</h2>
  <ul>
    <li>
      <a href="https://support.zendesk.com/hc/en-us/articles/204278476" target="_blank" id="settings-help-documentation">{{t "txt_popup_options_help_documentation"}}</a>
    </li>
    <li>
      <a href="https://support.zendesk.com/hc/communities/public/topics/200148826" target="_blank" id="settings-help-feedback">{{t "txt_popup_options_help_feedback"}}</a>
    <li>
      <a href="#" id="settings-help-welcome">{{t "txt_popup_options_help_welcome"}}</a>
    </li>
  <ul>
</section>
