<p id="feature-name">{{t "txt_welcome_header_thank_you"}}</p>
<h1>{{t "txt_welcome_header_main"}}</h1>
<p id="feature-lead">{{t "txt_welcome_header_hook"}}</p>
<div id="hero-container">
  <div id="hero-left">
    <div id="click-ring"></div>
    <div id="mouse-pointer"></div>
  </div>
  <div id="hero-right">
    <div id="tab-chrome"></div>
    <div id="new-tab"></div>
    <div id="old-tab-body"></div>
    <div id="new-tab-body"></div>
  </div>
</div>
<table id="feature-faq" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <h3>{{t "txt_welcome_header_what_do"}}</h3>
      <p>{{t "txt_welcome_body_what_do"}}</p>
    </td>
    <td>
      <h3>{{t "txt_welcome_header_new_browser_tab"}}</h3>
      <p>{{t "txt_welcome_body_new_browser_tab"}}</p>
    </td>
  </tr>
  <tr>
    <td>
      <h3>{{t "txt_welcome_header_lose_work"}}</h3>
      <p>{{t "txt_welcome_body_lose_work"}}</p>
    </td>
    <td>
      <h3>{{t "txt_welcome_header_what_links"}}</h3>
      <p>{{t "txt_welcome_body_what_links"}}</p>
    </td>
  </tr>
</table>
<p></p>
<a class="button" href="https://support.zendesk.com/hc/en-us/articles/204278476" target="_blank">{{t "txt_welcome_button_read_docs"}}</a>
